<div class="page-header border-radius box-shadow">
  <h1>{{ page.title }}</h1>
</div>

<div class="row">
  <div class="span8 post-content border-radius box-shadow">
    {{ content }}
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; 上一篇 Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; 上一篇 Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">归档 Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">下一篇 Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>下一篇 Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4 post-info border-radius box-shadow">
    <h4>发表于 Published：</h4>
    <div class="date"><span>{{ page.date | date: "%Y年%m月%d日" }}({{ page.date | date_to_long_string }})</span></div>

  {% unless page.tags == empty %}
    <h4>标签 Tags：</h4>
    <ul class="tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}  
  </div>
</div>
